<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <title>Angular - Client Server Web Development Assignment 1</title>
  </head>
  <body>
    <header>
      <nav>
        <h1>Client Server Web Development Assignment 1</h1>
        <ul>
          <div class="dropdown">
            <li>
              <a href="../"
                >Home <i class="fa fa-caret-down" aria-hidden="true"></i
              ></a>
            </li>
            <div class="dropdown-content">
              <a href="../#Client-Server-Computing">Client-Server Computing</a>
              <a href="../#Single-Page-Applications"
                >Single Page Applications</a
              >
              <a href="../#REST-APIs">REST APIs</a>
            </div>
          </div>
          <div class="dropdown">
            <li>
              <a href="#" class="active"
                >Frameworks <i class="fa fa-caret-down" aria-hidden="true"></i
              ></a>
            </li>
            <div class="dropdown-content">
              <a href="./angular.html" class="active">Angular</a>
              <a href="./aurelia.html">Aurelia</a>
              <a href="./ember.html">Ember</a>
              <a href="./preact.html">Preact</a>
              <a href="./svelte.html">Svelte</a>
              <a href="./vue.html">Vue</a>
            </div>
          </div>
          <li><a href="./comparison.html">SPA Comparison</a></li>
          <li><a href="./references.html">References</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <article>
        <h2>Angular</h2>
        <section style="display: flex; gap: 2rem">
          <div>
            <h3>How it works</h3>
            <p>
              Angular is a TypeScript based framework from Google, it is based
              off of their older JavaScript based AngularJS framework.
            </p>
            <p>
              Angular uses Typescript to create modules and components. The base
              app module is a container for all the other modules and
              components. The app module is then bootstrapped (loaded and
              initialized) to the index.html, which is the entry point for the
              app. The app module contains references to the components it uses
              in the declarations array. The components are then referenced in
              the app module's template HTML file to demonstrate how the
              component should be displayed in the app. Those components then
              have their own HTML template files, which are referenced in the
              component's typescript file. The component's typescript file
              contains the logic for the component, which can also include
              variables and a stylesheet.
            </p>
          </div>
          <div>
            <div class="ref-img">
              <p><b>Figure 2</b><br /><i>Angular Logo</i></p>
              <img
                width="300px"
                src="../media/images/Angular.png"
                alt="Figure 2 - Angular Logo"
              />
              <p>(Angular, n.d.).</p>
            </div>
          </div>
        </section>

        <section>
          <h3>Strengths and Weaknesses</h3>
          <p></p>
          <h4>Strengths</h4>
          <ul>
            <li>
              <p>
                The component TypeScript files are easy to understand and aren't
                filled with confusing terms.
              </p>
            </li>
            <li>
              <p>The CLI has built-in generation for components and modules.</p>
            </li>
            <li>
              <p>
                The concept of modules and components is very modular and allows
                for parts of the app to be broken down into smaller functions,
                which can simplify the code and make it easier to understand.
              </p>
            </li>
            <li>
              <p>
                Built by Google, so good documentation and support is available.
              </p>
            </li>
          </ul>

          <h4>Weaknesses</h4>
          <ul>
            <li>
              <p>
                Steep learning curve due to being complex. It took me a while to understand the concepts.
              </p>
            </li>
            <li>
              <p>
                If you don't generate components through the CLI, you have to
                manually add them to the app module, which can be tedious.
              </p>
            </li>
            <li>
              <p>
                Each component is divided into 4 files, which can be confusing
                to keep track of.
              </p>
            </li>
          </ul>
        </section>

        <section>
          <h3>Example Web App</h3>
          <p>
            I found this framework to be difficult to get started with, but
            after watching some YouTube tutorials, I had an understanding of the
            concepts and I could see the benefits of using it.
          </p>
          <p>
            For this framework, I made a simple site with a home page, an about
            page and a link to a contact page to demonstrate how I handled an
            error 404. The site was styled using very minimal Bootstrap. There
            is a navigation bar at the top which is a component, saving me from
            creating it on every page. The home page contained a grid of cards
            that were generated from a JSON file I found online containing
            Breaking Bad and Better Call Saul characters. The about page just
            had the default pre-generated text. The contact page didn't exist so
            it displayed the page not found page I made.
          </p>
          <p>
            Here's how I used Angular *ngFor and *ngIf statements to generate
            the cards from the JSON:

            <script src="https://gist.github.com/30050248Kaleb/966aa5608352d544a50e8f8b834c4566.js"></script>
          </p>

          <h4>Gallery</h4>
          <p>The Home Page</p>
          <img
            src="../media/images/angular/homepage.png"
            alt="Homepage"
            width="50%"
          />
          <p>The Contact Page</p>
          <img
            src="../media/images/angular/about.png"
            alt="Homepage"
            width="50%"
          />
          <p>The Error 404 Page</p>
          <img
            src="../media/images/angular/error404.png"
            alt="Homepage"
            width="50%"
          />
        </section>
      </article>
    </main>
    <script src="https://use.fontawesome.com/647627c798.js"></script>
  </body>
</html>
